body {
    background-position: center top;
    background-image: url(./img/background.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Calibri;
    font-size: 18px;
    /* color: white; */

    /* height: 100vh; */
}

h2 {
    font-weight: bold;
}

.headerImg {
    width: 50%;
    height: auto;
}


/* Main */
.backround {
    background: -webkit-linear-gradient(left, rgba(240,255,255,1) 2%,rgba(240,255,255,0) 140%);
    padding: 4rem;
    flex: 1; /* Add this line to make the content stretch to fill the available space */
    min-height: calc(100vh - 160px);
}

.main-heading {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 6rem;
    color: #FFDE59;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#btnStore {
    /* Odstraní underline u store btnu */
    border-bottom: 0;
}
#btnBany:active {
    /* Nezůstane na Bany btnu underline když otevře new tab */
    border-bottom: 0;
}

.download li img {
    height: 50px;
    width: 50px;
}

/* Footer */
footer {
    height: 3rem;

    color: gray;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: fixed;  Add this line to make the footer stick to the bottom */
    bottom: 0; /* Add this line to position the footer at the bottom */
    width: 100%; /* Add this line to make the footer full-width */
}
footer p {
    color: rgb(172, 172, 172);
    margin: 0;
}

@media screen and (min-width: 1200px) {
    .stylovani {
      max-width: 1400px;
      margin: auto;
    }
  }

@media screen and (max-width: 768px) {
    .main-heading {
        font-size: 4rem;
    }
    .backround {
        padding: 3rem;
    }
    .headerImg {
        width: 75%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .main-heading {
        font-size: 3rem;
    }
    .backround {
        padding: 2rem;
    }
    .headerImg {
        width: 100%;
        height: auto;
    }
}